<main class="page__main">
  <div class="container">
    <h1 class="page__title">Buscador de series</h1>
    <div class="form__container">
      <form action="/signup" method="post">
        <input placeholder="Chicho Terremoto" type="text" class="input__name" id="sname" name="sname">
      </form>
      <button class="btn" type="button">Search</button>
    </div>
  </div>
  <ul class="list__results">
    <li class="list__element">
        <h2 class="serie__title">Chicho Terremoto</h2>
        <img class="serie__image" src="https://www.ionlitio.com/images/2012/04/chichoterremoto-portada.jpg" alt="chicho">
        <span class="heart">❤︎</span>
    </li>
    <li class="list__element">
        <h2 class="serie__title">Chicho Terremoto</h2>
        <img class="serie__image" src="https://www.ionlitio.com/images/2012/04/chichoterremoto-portada.jpg" alt="chicho">
        <span class="heart">❤︎</span>
    </li>
    <li class="list__element favorite">
        <h2 class="serie__title">Chicho Terremoto</h2>
        <img class="serie__image" src="https://www.ionlitio.com/images/2012/04/chichoterremoto-portada.jpg" alt="chicho">
        <span class="heart">❤︎</span>
    </li>
    <li class="list__element">
        <h2 class="serie__title">Chicho Terremoto</h2>
        <img class="serie__image" src="https://www.ionlitio.com/images/2012/04/chichoterremoto-portada.jpg" alt="chicho">
        <span class="heart">❤︎</span>
    </li>
    <li class="list__element favorite">
        <h2 class="serie__title">Dragon Ball</h2>
        <img class="serie__image" src="https://d1ic4altzx8ueg.cloudfront.net/finder-au/wp-uploads/2018/02/Dragon-Ball-Super1.jpg" alt="DB">
        <span class="heart">❤︎</span>
    </li>
  </ul>
</main>
